.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* -------------Custom CSS -------------- */
.App-body {
  background-color: #ECECEC;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
}

.block {
  width: 100%;
  border: 1px solid black;
  margin: 10px;
  flex: 1;
}

.blue {
  background-color: cornflowerblue ;
}
.pink {
  background-color: #FFB6C1;
}
.inner {
  padding: 14px;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.choice {
  display: block;
  padding-left: 5px;
  text-align: center;
  border: 1px solid black;
}
.radioDiv {
  text-align: left;
  padding: 3px;
  flex: 1;
  display: block;
  width: 100%;
}

input[type="text"] {
  padding: 2px;
  line-height: 20px;
  height: 35px;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------------Non retina screens ------------------- */
@media (max-width: 700px){
  .block {
    min-width: 33%;
  }
}

/* ----------------- Retina screens ------------------- */
@media (max-width: 400px) {
  .block {
    min-width: 50%;
  }
}

@media (max-width: 300px) {
  .block {
    min-width: 100%;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
}